* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #d5d4d4;
}

.wrapper {
    position: relative;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    max-width: 1600px;
    height: 100vh;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-image: url("images/background.png");
    background-position: center;
    background-size: 85%;
    overflow: hidden;
}

#hangman {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

h1 {
    display: block;
    font-size: 40px;
    margin: 50px 5px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

#word {
    letter-spacing: 5px;
    font-size: 32px;
    margin: 50px 0 0;
    padding: 30px 20px;
    font-weight: 700;
    border: 3px black solid;
    text-align: center;
    text-transform: uppercase;
}


.column {
    margin-top: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

#letters {
    text-align: center;
    padding: 30px 50px;

}

#letters button {
    width: 40px;
    padding: 10px;
    margin: 10px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    border: 2px solid rgba(0, 0, 0, 0.7);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

#letters button:hover {
    color: white;
    background-color: rgb(59, 57, 57);
}

#letters button:disabled {
    cursor: default;
}

#letters button:disabled:hover {
    background-color: rgba(239, 239, 239, 0.3);
    color: rgba(16, 16, 16, 0.3)
}

#output {
    margin-top: 50px;
    width: 50%;
    transition: .4s;
}

#output .step {
    display: none;
    margin: 0 auto;
}

#output .win {
    display: none;
    margin: 0 auto;
}

#output .step p {
    display: block;
    font-size: 20px;
    font-weight: 700;
    max-width: 550px;
    line-height: 30px;
    text-align: center;
    padding: 30px 10px;
    text-transform: uppercase;
}

#output .step p span {
    font-size: 26px;
}


#category,
#biography {
    display: block;
    font-size: 26px;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
    padding: 30px 10px;
    text-transform: uppercase;
}

.losuj {
    display: none;
    margin: 0 auto;
}

.losuj a {
    color: white;
    background-color: rgb(59, 59, 59);
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 15px 30px;
    margin: 20px 10px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    border: 2px solid rgba(0, 0, 0, 0.7);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

#biography {
    display: none;
}